<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">Página inicial da API</h1>
        <p class="lead">Página inicial da API do exercício de utilização de API para gerenciamento de produtos.</p>
        <p><a href="/Help" class="btn btn-primary btn-md">Documentação da API &raquo;</a></p>
    </section>
</main>