<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">Página inicial da Aplicação Web</h1>
        <p class="lead">Página inicial da aplicação do exercício de utilização de API para gerenciamento de produtos.</p>
        <p><a href="/Produtos" class="btn btn-primary btn-md">Gerenciamento de produtos &raquo;</a></p>
    </section>
</main>